* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*-----------------Navbar Start------------------*/
.main-navigation {
  position: fixed;
  top: 0;
  right: 0;
  width: 30%;
  height: 100%;
  background: #222;
  text-align: center;
  transform: translate(100%);
  transition: transform 0.6s ease;
  z-index: 99;
}
.nav-list {
  margin-top: 70px;
}
.nav-link {
  color: #fff;
  cursor: pointer;
  display: block;
  padding: 10px 0;
  font-family:"Cantarell", sans-serif;
  font-weight: 700;
  font-size: 21px;
  text-transform: uppercase;
  letter-spacing: -1px;
}
.nav-link:hover {
  background: #328cc1;
}
.nav-item {
  list-style: none;
}
#open {
  text-align: center;
  z-index: 100;
  transition: transform 0.6s ease;
  background: #0b3c5d;
  border-radius: 50px;
  width: 40px;
  height: 40px;
  padding-top: 5px;
}
#open, #close {
  color: white;
  font-size: 30px;
  position: fixed;
  top: 15px;
  right: 15px;
  cursor: pointer;
}
#open.turn {
  transform: rotate(90deg);
}
.main-navigation.open {
  transform: translateX(0);
}
.wrapper {
  transition: transform 0.6s ease;
}
.wrapper.open {
  transform: translate(-20%);
}
/*-----------------Navbar Finish------------------*/
/*-----------------Header Start-------------------*/
header {
  background-color:#0b3c5d;
}
.cover{
  height: 600px;
  padding: 30px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.title {
  font-family: 'Montserrat', sans-serif;
  font-size: 90px;
  text-transform: uppercase;
  color: white;
}
.subtitle {
  font-family:"Cantarell", sans-serif;
  font-weight: 700;
  font-size: 21px;
  text-transform: uppercase;
  letter-spacing: -1px;
  color: white;
}
/*------------------------Header Finish------------------------*/
/*------------------------Body Start---------------------------*/
main {
  position: relative;
  background-color: #f1f1f1;
  text-align: center;
}
/*----------------------Portfolio Start-------------------------*/
.portfolio-title, .section-title{
  font-family: "Cantarell", sans-serif;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-size: 35px;
  color: white;
}
.portfolio-line {
  border: 2px solid white;
}
.portfolio {
  padding: 50px 20px;
  text-align: center;
  background: url(images/desk_background.png) no-repeat center center fixed;
  background-size: cover;
}
.portfolio-title {
  color: white;
}
.portfolio-line {
  border: 2px solid white;
  margin: 20px 250px;
}
.portfolio-examples {
  display: flex;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
}
.portfolio-img {
  width: 100%;
}

/*Hover Effects*/
.portfolio-example {
  position: relative;
  width: 40%;
  margin: 20px 5%;
}
.hover-link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  opacity: 0;
  position: absolute;
  bottom: 4px;
  left: 0px;
  right: 0px;
  top:0px;
  color: #fff;
  background: #333;
  text-decoration: none;
  text-align: center;
  -webkit-transition: opacity 300ms;
  -moz-transition: opacity 300ms;
  -o-transition: opacity 300ms;
  transition: opacity 300ms;
}
.portfolio-info {
  font-family: 'Arimo', Helvetica, Arial, sans-serif;
  color: white;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 22px;
  margin-bottom: 10px;
}
.portfolio-btn {
  margin: 0 auto;
  background-color: #333;
  border: 3px solid white;
  color: white;
  padding: 10px 20px;
  font-family: "Cantarell", sans-serif;
  letter-spacing: -1px;
  font-size: 20px;
}
.portfolio-example:hover .hover-link {
  opacity: 0.8;
}
.portfolio-btn:hover {
  background-color: white;
  color: #333;
  cursor: pointer;
}

/*----------------------Portfolio Finish------------------------*/
/*-----------------------About Me Start-------------------------*/
.about {
  padding: 50px 20px;
  max-width: 1500px;
  margin: 0 auto;
}
.about-title {
  color: #0b3c5d;
}
.section-line {
  border: 2px solid #0b3c5d;
  margin: 20px 150px;
}
.about-row {
  display: flex;
  flex-wrap: wrap;
}
.about-article {
  width:33.33333%;
  padding: 20px;
}
.about-article-info {
  font-family: 'Arimo', Helvetica, Arial, sans-serif;
  padding: 20px;
  color: #515151;
}
/*----------------------About Me Finish-------------------------*/
/*----------------------Contact Start---------------------------*/
.contact {
  padding: 50px 200px 20px;
  margin: 0 auto;
  background-color: #0b3c5d;
  color: white;
}
.contact-line {
  border: 2px solid white;
}
.contact-greeting {
  font-family: 'Arimo', Helvetica, Arial, sans-serif;
  padding: 0 0 20px;
}
.contact-info{
  font-family: 'Arimo', Helvetica, Arial, sans-serif;
  border: none;
  margin-bottom: 10px;
  width: 400px;
  height: 40px;
  padding: 8px;
}
fieldset {
  border: none;
}
#message{
  height: 160px;
}
.submit {
  background-color: #f1f1f1;
  color: #0b3c5d;
  border: none;
  border-radius: 5px;
  padding: 10px 30px;
  font-family: "Cantarell", sans-serif;
  font-size: 18px;
  margin: 0 auto 50px;
  cursor: pointer;
  width: 200px;
  text-align: center;
}
.submit:hover {
  background-color: #328cc1;
  transition: 300ms;
  color: white;
}

/*-------------------------Contact Finish-----------------------*/
/*-------------------------Footer Start-------------------------*/
footer {
  background-color: #0b3c5d;
  display: flex;
  width: 100%;
  height: 50px;
}
.by_line {
  float: right;
  font: 700 12px 'Cantarell', sans-serif;
  text-transform: uppercase;
  letter-spacing: -1px;
  color: white;
  margin: auto 15px auto auto;
}
/*--------------------------Footer Finish------------------------*/
/*--------------------------Responsive Start---------------------*/
@media screen and (max-width: 800px) {
  .contact {
    padding: 50px 20px
  }
}
@media screen and (max-width: 725px) {
  .about-article {
    width: 50%;
  }
}
@media screen and (max-width: 625px) {
  .portfolio-example {
    width: 80%;
    margin: 15px auto;
  }
  .title {
    font-size: 45px;
  }
  .cover {
    height: 400px;
  }
  .main-navigation {
    width: 60%;
  }
  .wrapper.open {
    transform: translateX(-40%);
  }
}
@media screen and (max-width: 550px) {
  .about-img {
    width: 80px;
  }
  .about-article {
    padding: 0;
  }
  .about-article-info {
    padding: 15px;
  }
  .contact-info {
    width: 90%;
  }
}
@media screen and (max-width: 425px) {
  footer {
    display: inline-block;
    text-align: center;
  }
  .by_line {
    margin: 10px;
    float: none;
  }
  .section-line, .portfolio-line {
    margin: 20px 60px;
  }
}
/*---------------------Responsive Finish-------------------*/
