@import url(http://weloveiconfonts.com/api/?family=entypo);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*-----------------Navbar Start------------------*/
.top-navbar {
  position: fixed;
  width: 100%;
  z-index: 99;
  background-color: #0b3c5d;
  height: 50px;
  margin-bottom: 40px;
}
.links {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: absolute;
}
.link {
  display: inline-block;
  float: left;
  margin-right: 1px;
}
.top-navbar-link {
  display: block;
  width: 120px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  font-family: 'Arimo', Helvetica, Arial, sans-serif;
  color: white;
  background-color: #0b3c5d;
  text-decoration: none;
}
.icon {
  width: 80px;
}
.entypo-github, .entypo-mail, .entypo-linkedin {
  font-family: 'entypo', sans-serif;
  font-size: 18px;
}
.top-navbar-link:hover {
  background-color: #328cc1;
  transition: 300ms;
  cursor: pointer;
}
.top-navbar-link:hover + .hidden, .hidden:hover {
	display: block;
}
/*Style 'show menu' label button and hide it by default*/
.show-menu {
	color: #fff;
	text-align: right;
	padding: 10px 15px 0 0;
	display: none;
}
.entypo-menu {
  font-family: 'entypo', sans-serif;
  font-size: 30px;
}
.show-menu:hover {
  cursor: pointer;
}
/*Hide checkbox*/
input[type=checkbox]{
    display: none;
}
/*Show menu when invisible checkbox is checked*/
input[type=checkbox]:checked ~ .links{
    display: block;
}
@media screen and (max-width: 760px) {
  .top-navbar ul {
    position: static;
    display: none;
  }
  .top-navbar li {
    margin-bottom: :1px;
  }
  .top-navbar ul li, .top-navbar-link {
    width: 100%;
  }
  /*Display 'show menu' link*/
	.show-menu {
		display:block;
	}
}
/*-----------------Navbar Finish------------------*/
/*------------------------Body Start---------------------------*/
main {
  position: relative;
  text-align: center;
}
/*-----------------------About Me Start-------------------------*/
main {
  background: #0b3c5d;
}
.work-title {
  font-family: 'Montserrat', sans-serif;
  font-size: 60px;
  text-transform: uppercase;
  color: white;
  padding: 100px 0 30px 0;
}
.work-subtitle {
  font-family: "Cantarell", sans-serif;
  font-weight: 700;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: -1px;
  color: white;
  margin-bottom:40px;
}
.work-section {
  background-color: white;
}
.email-row {
  display: flex;
  flex-wrap: wrap;
  max-width: 1300px;
  margin: 0 auto;
  padding: 75px 0;
}
.email-example {
  width: 28%;
  margin-left: 4%;
  height: 400px;
  border: 20px solid #515151;
  border-radius: 20px;
  overflow: hidden;
}
.photo {
  width: 100%;
  margin: -2px;
}
/*----------------------About Me Finish-------------------------*/
/*-------------------------Footer Start-------------------------*/
footer {
  background-color: #0b3c5d;
  display: flex;
  width: 100%;
}
.icon-footer {
  display: inline-block;
  color: white;
  font-size: 20px;
  margin: 10px 15px;
}
.by_line {
  float: right;
  font: 700 12px 'Cantarell', sans-serif;
  text-transform: uppercase;
  letter-spacing: -1px;
  color: white;
  margin: auto 15px auto auto;
}
/*--------------------------Footer Finish------------------------*/
/*--------------------------Responsive Start---------------------*/
@media screen and (max-width: 1000px) {
  .email-example {
    width: 60%;
    margin: 0 auto 30px;
  }
}
@media screen and (max-width: 625px) {
  .work-title {
    font-size: 45px;
  }
  .work-subtitle {
    font-size: 15px;
    padding: 0 10px;
  }
}
@media screen and (max-width: 450px) {
  .email-example {
    width: 90%;
    height:400px;
  }
  footer {
    display: inline-block;
    text-align: center;
  }
  .by_line {
    margin: 10px;
    float: none;
  }
}
/*---------------------Responsive Finish-------------------*/
